*{

	box-sizing:border-box;
	web
}


body{
	max-width:800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

h0{
	font-family: Century Gothic;
	font-size: 40px;
	font-weight: 200;
	text-align: right;
	width: 100%;
}
h1{
	border-left: none;
	border-right: none;
	border-bottom: solid;
	border-top:none;
	border-color:#6699FF;
	border-width: thin;
	padding-bottom: 3%;
	padding-left: 0%;
	padding-top: 0%;
	padding-right: 0%;
	text-align: right;

}
.subtext{
	font-family: Century Gothic;
	font-size: 15px;
	font-weight: 200;
}
h2{
	background-color: #FFFFCC;
	font-family: Corbel;
	font-size: 20px;
	color:gray;
	padding-bottom: 2%;
	padding-left: 0%;
	padding-top: 2%;
	padding-right: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
}
h3{
	font-family: Corbel;
	font-size: 25px;
	text-align: center;
	margin-top: 2%;
	margin-bottom:0%;
}
h4{
	font-family: Corbel;
	font-size: 10px;
	text-align: center;
	margin-top: 0%;
}
.row{
	width: 100%;
	display:flex;
	padding-left: 5%;
	padding-right: 5%;
}
.skills{
	background: white;
	color: black;
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 7%;
}
.footer{
	text-align: left;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top:solid;
	border-color: DarkOrange;
	border-width: thin;
	font-size: 12px;
}
.modal-header{
	font-family: Corbel;
	font-size: 20px;
	text-align: center;
}
.modal-body{
	font-family: Corbel;
	font-size: 15px;
}
.img-responsive{
	max-height: 500px;
}
.modal-footer{
	font-family: Corbel;
	text-align: right;
	font-size: 20px;
}
.btn1{
	background-color:#6699FF;
}
.col-2 img{
	width: 20%;
}
.row2{
}
.col-6 {
	width: 50%;
	padding:2%;
}
.col-6 img{
	width:100%;
}

.col-10{
	width: 75%;
	padding-left: 5%;
}
.col-2{
	width: 25%;
}
.col-2 img{
	width: 100%;
}